/*------------------------------
font-family: 'Oswald', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif;
font-family: 'Montserrat', sans-serif;
--------------------------------*/
.container {
    padding: 20px;
}

.header {
    background-image: url(../images/trains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: contrast(90%);
}

.heading {
    background-color: transparent;
}

.page-title {
    color: white;
    font-size: 60px;
    text-align: right;
    font-family: 'Oswald', sans-serif;
    filter: brightness(100%);
}

.lead {
    color: white;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
}

.card-header {
    color: white;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.user-input {
    margin-top: 40px;
}

.btn {
    color: white;
}

label, th {
    color: #000515;
}

label {
    padding-top: 10px;
    padding-left: 10px;
}

.form-group, .btn {
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
}

th {
    font-family: 'Ubuntu Condensed', sans-serif;
}

td {
    color: #000515;
    font-family: 'Montserrat', sans-serif;
}
